{% load staticfiles %}

<!-- MENU DESKTOP -->
<nav class="menu-desktop menu-sticky">

    <ul class="tada-menu">
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'create' %}"><span class="oi oi-plus"></span></a></li>
        <li><a href="javascript: {document.getElementById('logout').submit()}">Logout</a></li>
        <form id="logout" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
        </form>
    </ul>

</nav>


<!-- MENU MOBILE -->
<div class="menu-responsive-container">
    <div class="open-menu-responsive">|||</div>
    <div class="close-menu-responsive">|</div>
    <div class="menu-responsive">
        <ul class="tada-menu">
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li><a href="{% url 'create' %}"><span class="oi oi-plus"></span></a></li>
            <li><a href="javascript: {document.getElementById('logout').submit()}">Logout</a></li>
            <form id="logout" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden">
            </form>
        </ul>
    </div>
</div> <!-- # menu responsive container -->