{% extends 'master.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}


{% block caption %}

{% endblock %}


{% block content %}

    <div class="content col-xs-12">
        <div class="col-xs-4">
            <article>
                <div class="post-image">
                    <img src="{{ product.icon.url }}" alt="post image 1">
                    {#                    <div class="category"><a href="#">IMG</a></div>#}
                </div>
                <div class="post-text">
                    <span class="date">{{ product.pub_date_pretty }}</span>
                    <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
                    <a href="" style="float: right;">
                        <button class="btn btn-primary btn-lg btn-block">
                            <span class="oi oi-caret-top"></span> Upvote [{{ product.votes }}]
                        </button>
                    </a>
                </div>
                <div class="post-info">
                    <div class="post-by">Hunted By {{ product.hunter.username }}</div>
                </div>
            </article>
        </div>
        <div class="col-xs-8">
            <img src="{{ product.image.url }}" alt="post image 1">
        </div>
    </div>
    <div class="content col-xs-12">
        <div class="col-lg-4"></div>
        <div class="col-xs-8"><p>{{ product.body }}</p></div>
    </div>

{% endblock %}
