{% extends 'master.html' %}

{% load staticfiles %}

{% block title %}
    Product Hunt
{% endblock %}

{% block caption %}
    P R O D U C T &NonBreakingSpace;&NonBreakingSpace; H U N T
{% endblock %}


{% block content %}

    <div class="content col-xs-12">

        {% for product in allproducts %}

            <div class="col-xs-4">
                <article>
                    <div class="post-image">
                        <img src="{{ product.icon.url }}" alt="post image 1">
                    </div>
                    <div class="post-text">
                        <span class="date">{{ product.pub_date_pretty }}</span>
                        <h2><a href="{% url 'detail' product.id %}">{{ product.title }}</a></h2>
                    </div>
                    <div class="post-info">
                        <div class="post-by">Post By <a href="#">AD-Theme</a></div>
                    </div>
                </article>
            </div>


        {% endfor %}

        <div class="clearfix"></div>


        <!-- NAVIGATION -->
        {% comment %}<div class="navigation">
            <a href="#" class="prev"><i class="icon-arrow-left8"></i> Previous Posts</a>
            <a href="#" class="next">Next Posts <i class="icon-arrow-right8"></i></a>
            <div class="clearfix"></div>
        </div>{% endcomment %}


    </div>

{% endblock %}
